body{
    height: 450px;
    width: 400px;
}
.header{
    background-color: #141f40;
    height: 100px;
}
.main{
    height: 250px;
    width: 400px;
}
.content{
    float: left;
    width: 250px;
    height: 150px;
}
.content-bottom-left{
    background-color: #dbd403;
    height: 150px;
    width: 100px;
    float: left;
}
.content-bottom-right-top{
    background-color:#8c2727;
    height: 50px;
    width: 150px;
    float:right;
}
.content-bottom-right-bottom{
    background-color: #ff9e6b;
    height: 100px;
    width: 150px;
    display:flex;
}
.content-bottom{
    background-color: #0093b7;
    width: 250px;
    height: 100px;
    float:left;
}
.side{
    background-color: #80bfa8;
    width: 150px;
    height: 250px;
    display: flex;
}
.footer{
    background-color: #d98d30;
    height: 100px;
    width: 400px;
}